body {
  background-color: rgb(46, 46, 46);
  font-family: roboto;
}

ul {
  list-style: none;
  display: flex;
  gap: 50px;
  /* justify-content: center; */
  flex-wrap: wrap;
  margin-top: 50px;
}

li {
  background-color: white;
  padding: 5px 18px;
  border-radius: 50%;
  font-size: 40px;
  font-weight: 700;
  cursor: pointer;
  width: 30px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  background-color: white;
  border-radius: 15px;
  width: 95%;
  height: 50px;
  padding: 10px;
  margin: 15px auto;
  font-size: 30px;
  font-weight: bolder;
  /* text-align: center; */
}

.output {
  background-color: white;
  border-radius: 15px;
  width: 95%;
  height: 50px;
  padding: 10px;
  margin: 15px auto;
  font-size: 30px;
  font-weight: bolder;
  /* text-align: center; */